In [1]:
import pandas as pd
from pathlib import Path

In [3]:
df = pd.read_csv(path)

In [2]:
path = Path('C:\\Users\\anmha\\Desktop\\ML_project\\FSDS_cement_strength_predictor\\artifacts\data_ingestion\\train\\train.csv')

In [4]:
df.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day)
0,150.00,237.0,0.00,174.00,12.00,1069.0,675.00,28
1,218.85,0.0,124.13,158.49,11.33,1078.7,794.91,14
2,339.00,0.0,0.00,197.00,0.00,968.0,781.00,365
3,143.80,136.3,106.20,178.10,7.50,941.5,774.30,28
4,252.50,0.0,0.00,185.70,0.00,1111.6,784.30,7

In [5]:
df.describe()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day)
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000
mean,285.671391,76.120696,50.387333,182.106710,6.058214,974.03100,770.467913,46.204348
std,108.880478,88.107933,62.980119,21.087613,6.060648,78.67354,80.192860,61.588646
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.00000,594.000000,1.000000
25%,193.500000,0.000000,0.000000,166.610000,0.000000,932.00000,721.000000,14.000000
50%,277.000000,24.000000,0.000000,185.700000,6.000000,968.00000,778.000000,28.000000
75%,362.600000,146.725000,113.000000,192.000000,10.000000,1040.45000,821.000000,56.000000
max,540.000000,359.400000,195.000000,247.000000,32.200000,1145.00000,992.600000,365.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Cement (component 1)(kg in a m^3 mixture)              690 non-null    float64
 1   Blast Furnace Slag (component 2)(kg in a m^3 mixture)  690 non-null    float64
 2   Fly Ash (component 3)(kg in a m^3 mixture)             690 non-null    float64
 3   Water  (component 4)(kg in a m^3 mixture)              690 non-null    float64
 4   Superplasticizer (component 5)(kg in a m^3 mixture)    690 non-null    float64
 5   Coarse Aggregate  (component 6)(kg in a m^3 mixture)   690 non-null    float64
 6   Fine Aggregate (component 7)(kg in a m^3 mixture)      690 non-null    float64
 7   Age (day)                                              690 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 43.2 KB

In [7]:
df.columns

Index(['Cement (component 1)(kg in a m^3 mixture)',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)',
       'Fly Ash (component 3)(kg in a m^3 mixture)',
       'Water  (component 4)(kg in a m^3 mixture)',
       'Superplasticizer (component 5)(kg in a m^3 mixture)',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)', 'Age (day)'],
      dtype='object')

In [8]:
ls = ['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer', 'Coarse Aggregate', 'Fine Aggregate', 'Age']

In [9]:
df.columns = ls

In [10]:
df

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,150.00,237.0,0.00,174.00,12.00,1069.0,675.00,28
1,218.85,0.0,124.13,158.49,11.33,1078.7,794.91,14
2,339.00,0.0,0.00,197.00,0.00,968.0,781.00,365
3,143.80,136.3,106.20,178.10,7.50,941.5,774.30,28
4,252.50,0.0,0.00,185.70,0.00,1111.6,784.30,7
...,...,...,...,...,...,...,...,...
685,286.30,200.9,0.00,144.70,11.20,1004.6,803.70,3
686,246.83,0.0,125.08,143.30,11.99,1086.8,800.89,14
687,190.34,0.0,125.18,166.61,9.88,1079.0,798.90,100
688,475.00,118.8,0.00,181.10,8.90,852.1,781.50,28
689,314.00,0.0,113.00,170.00,10.00,925.0,783.00,28

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              690 non-null    float64
 1   Blast Furnace Slag  690 non-null    float64
 2   Fly Ash             690 non-null    float64
 3   Water               690 non-null    float64
 4   Superplasticizer    690 non-null    float64
 5   Coarse Aggregate    690 non-null    float64
 6   Fine Aggregate      690 non-null    float64
 7   Age                 690 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 43.2 KB

In [12]:
df.shape

(690, 8)

In [14]:
type(df.Cement)

pandas.core.series.Series

In [17]:
df.dtypes.Cement == 'float64'

True

In [18]:
df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age'],
      dtype='object')

In [19]:
from numpy import dtype


df['Cement'].dtype

dtype('float64')